nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

nav #logo {
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin: 10px 20px;
}

a {
  text-decoration: none;
}

#home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFF00;
}

#portfolio {

}
