html {
  background: url(assets/ss-bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  margin: 20vh 0;
}

/* =========== Nav styling ========= */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  background-color: rgba(0,0,0,0.3);
  font-size: 18px;
}

nav #logo {
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin: 10px 20px;
}

nav a {
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

/* =========== Home text styling ========= */

#home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-text h1 {
  font-size: 52px;
}

#home-text h2 {
  font-size: 32px;
}

#home-text h3 {
  font-size: 28px;
}

/* =========== Portfolio styling ========= */

#portfolio {
  text-align: center;
  background-color: rgba(0,255,255,0.4);
}

#portfolio h2 {
  font-size: 32px;
}

.site-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.site-info p {
  width: 50%;
}

.site-info img {
  width: 15vw;
}

/* =========== About me styling ========= */

#aboutme {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  background-color: rgba(255,255,0,0.3);
  padding: 20px;
}

#aboutme img {
  width: 30%;
}

.aboutme-text {
  width: 40%;
}

